<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title><%= title %></title>
</head>
<body>
  <h1><%= title %></h1>
  <%- include('../partials/header', { title: 'Página Inicial' }) %>
  <form action="<%= action %>" method="POST">
   
    <div>
      <label for="nome">Nome:</label>
      <input 
        type="text" 
        name="nome" 
        id="nome" 
        value="<%= usuario.nome ? usuario.nome : '' %>" 
        required
      >
    </div>
    <br>
    
    <div>
      <label for="idade">Idade:</label>
      <input 
        type="number" 
        name="idade" 
        id="idade" 
        value="<%= usuario.idade ? usuario.idade : '' %>"
        required
      >
    </div>
    <br>
    
    <div>
      <label for="email">E-mail:</label>
      <input 
        type="email" 
        name="email" 
        id="email" 
        value="<%= usuario.email ? usuario.email : '' %>"
        required
      >
    </div>
    <br>
    
    <button type="submit">Salvar</button>
    <a href="/users">Cancelar</a>
  </form>
</body>
</html>
